{% extends "layout.html" %}
{% block body %}
    <div class="page-header">
        <h1>Про проект</h1>
    </div>
    <div class="">
	<p>Мета проекту - спростити пошук фото розкладів з зупинок транспорту Карпатського регіону.</p>
<p>Наразі, спільнота туристів обмінюється останніми фото з розкладами <a href="http://eurotourist.club/viewtopic.php?f=115&t=74216&start=270">на форумі eurotourist.club</a>, однак для знаходження потрібного розкладу необхідно витратити досить багато часу.</p>
<p>
Якщо ви не знайшли розклад для потрібного вам населеного пункту на нашому сайті, спробуйте пошукати його на сайтах:
    <ul>
        <li><a href="http://bus.com.ua">bus.com.ua</a></li>
        <li><a href="http://zabytki.in.ua">zabytki.in.ua</a></li>
    </ul>
</div>
	
{% endblock %}