{% extends "layout.html" %}
{% block body %}
<div class="col-md-4 col-md-offset-4">
	<h2>Додати зупинку</h2>
	<form action="" method="post" name="add_station">
		{{form.hidden_tag()}}
        <div class="form-group {% if form.name.errors %} has-error {% endif %}">
        <label class="control-label" for="name">{{ form.name.label}}:</label>
        {{ form.name(class="form-control") }}
        </div>

        <div class="form-group {% if form.locality_id.errors %} has-error {% endif %}">
        <label class="control-label" for="locality_id">{{ form.locality_id.label}}:
        {{ form.locality_id(class="form-control") }}
        </label>
        </div>


        <div class="form-group {% if form.transport_mode.errors %} has-error {% endif %}">
        <label class="control-label" for="transport_mode">

            {{ form.transport_mode.label }}:
        </label>

        {% for subfield in form.transport_mode %}
            <div class="radio">
                <label>{{ subfield }} {{ subfield.label }}</label>
            </div>
        {% endfor %}
        </div>

        <div class="form-group {% if form.station_type.errors %} has-error {% endif %}">
        <label class="control-label" for="station_type">

            {{ form.station_type.label }}:
        </label>

        {% for subfield in form.station_type %}
            <div class="radio">
                <label>{{ subfield }} {{ subfield.label }}</label>
            </div>
        {% endfor %}
        </div>


        <div class="form-group {% if form.address.errors %} has-error {% endif %}">
        <label class="control-label" for="locality_id">{{ form.address.label}}:
        {{ form.address(size=50,class="form-control") }}
        </label>
        </div>

        <div class="form-group {% if form.phone_number.errors %} has-error {% endif %}">
        <label class="control-label" for="locality_id">{{ form.phone_number.label}}:
        {{ form.phone_number(size=32, class="form-control") }}
        </label>
        </div>

        <h4><b>Зручності станції:</b></h4>
        <div class="form-group {% if form.luggage_storage.errors %} has-error {% endif %}">
        <div class="checkbox">
        <label class="control-label" for="luggage_storage">
            {{ form.luggage_storage() }}
            {{ form.luggage_storage.label}}
        </label>
        </div>
        </div>

        <div class="form-group {% if form.toilet.errors %} has-error {% endif %}">
        <div class="checkbox">
        <label class="control-label" for="toilet">
            {{ form.toilet() }}
            {{ form.toilet.label}}
        </label>
        </div>
        </div>

        <div class="form-group {% if form.ticket_office.errors %} has-error {% endif %}">
        <div class="checkbox">
        <label class="control-label" for="ticket_office">
            {{ form.ticket_office() }}
            {{ form.ticket_office.label}}
        </label>
        </div>
        </div>

        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-default">Зберегти</button>
        </div>
	</form>
</div>
{% endblock %}