{% extends "layout.html" %}
{% block body %}
<h2 class="section-title">Розклади з автостанцій</h2>

<div class="row">
    <div class="col-sm-2 col-md-3 col-lg-4">
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4">
        <form action="" name="locality_search" method="POST">
            {{form.hidden_tag()}}
            <div class="input-group">
              {{form.locality_name(class="form-control", placeholder="Населений пункт")}}
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Пошук</button>
              </span>
            </div><!-- /input-group -->
        </form>
      </div><!-- /.col-lg-6 -->
    <div class="col-sm-2 col-md-3 col-lg-4">
    </div>
</div>


<div class="row">
<h3 style="text-align:center">Популярні населені пункти</h3>

<div class="col-sm-6 col-md-4 col-lg-3">
<div class="list-group">
  <a class="list-group-item active">
    Івано-Франківська область
  </a>
    {%  for local in p_localities_if %}
    <a href="{{ url_for('show_locality', locality_id = local.id) }}" class="list-group-item">{{ local.name }}<span class="badge">{{ local.counted }} фото</span> </a>
    {% else %}
    <a class="list-group-item">Розклади для населених пунктів відсутні</a>
    {% endfor %}
</div>
</div>


<div class="col-sm-6 col-md-4 col-lg-3">
<div class="list-group">
  <a class="list-group-item active">
    Закарпатська область
  </a>
    {%  for local in p_localities_zk %}
    <a href="{{ url_for('show_locality', locality_id = local.id) }}" class="list-group-item">{{ local.name }}<span class="badge">{{ local.counted }} фото</span> </a>
    {% else %}
    <a class="list-group-item">Розклади для населених пунктів відсутні</a>
    {% endfor %}
</div>
</div>


<div class="col-sm-6 col-md-4 col-lg-3">
<div class="list-group">
  <a class="list-group-item active">
    Львівська область
  </a>
    {%  for local in p_localities_lv %}
    <a href="{{ url_for('show_locality', locality_id = local.id) }}" class="list-group-item">{{ local.name }}<span class="badge">{{ local.counted }} фото</span> </a>
    {% else %}
    <a class="list-group-item">Розклади для населених пунктів відсутні</a>
    {% endfor %}
</div>
</div>


<div class="col-sm-6 col-md-4 col-lg-3">
<div class="list-group">
  <a class="list-group-item active">
    Чернівецька область
  </a>
    {%  for local in p_localities_ch %}
    <a href="{{ url_for('show_locality', locality_id = local.id) }}" class="list-group-item">{{ local.name }}<span class="badge">{{ local.counted }} фото</span> </a>
    {% else %}
    <a class="list-group-item">Розклади для населених пунктів відсутні</a>
    {% endfor %}
</div>
</div>

</div> 	<!-- /row -->

{%  if lastPhotos %}
<div class="row">

    <h3 style="text-align:center">Нові фото розкладів</h3>

    {%  for locality, station, photo in lastPhotos %}
        <div class="col-md-4 col-xs-6 col-lg-3">
            <div class="thumbnail">
                <a href="{{ photo.url_img_link }}" >
                    <img src="{{ photo.url_img_link }}">
                </a>
                <div class="caption">
                    <h4><b>{{ locality.name}}</b></h4>
                    <p>{{ photo.author_comment | truncate(30, True)}}</p>
                     <p><a href="#" class="btn btn-primary" role="button">Переглянути</a> </p>
                </div>
            </div>
        </div>
    {% endfor %}

</div> <!-- /row -->
{% endif %}
	
<div class="row">
	<p class="text-centered">
	Доступно {{photoCounter}} фото розкладів для {{localitiesCounter}} населених пунктів.
	</p>
</div> <!-- /row -->



	{% endblock %}