{% extends "layout.html" %}
{% block body %}

	<table class="table ">
	<caption>Перелік зупинок</caption>
	<thead>
	    <tr>
	        <th>#</th>
	        <th>Name</th>
	        <th>Coordinate</th>
        </tr>
    </thead>
    <tbody>
	{% for station in stations %}
	    <tr>
	    <td>{{ loop.index }}</td>
		<td>{{station.name}}</td>
		<td>{{station.coordinate_lat}},{{station.coordinate_lon}}</td>
		</tr>
	{% else %}
	    <tr>
		Зупинки в системі відсутні
		</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock %}